.upload-button{
    width:100pt;
    border-radius: 9pt;
    box-shadow: 4pt;
}

.upload-form{
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:300pt;
    height:200pt;
    padding:20pt;
    background:#d4dedf;
    border-radius: 9pt;
    box-shadow: 4pt;
}

.move-form{
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:600pt;
    min-height:300pt;
    max-height:400pt;
    padding:20pt;
    border: 2px solid black;
    border-radius: 9pt;
    box-shadow: 4pt;
    padding-top:60pt;
}

.h3{
    font-size: 1.17em;
    font-weight: bold;
}

.list-div{
    max-width:300pt;
    text-align:left;
    padding-top:20px;
}

.edit-button, .dir-button{
    height:24px;
    width:24px;
    border:none;
}

.edit-button{
    background: url('../img/editx24.png');
}

.dir-button{
    background: url('../img/dirx24.png');
}

.error{
    color:darkred;
    font-size: 1.17em;
    font-weight:bold;
}

#dialogform{
    border: 1px solid #000000;
    border-radius: 9px;
    padding: 5px;
    top: 50%;
    margin: -110pt 0 0 0px;
    position: relative;
    width: 400px;
}

#submit-btn{
    float: left;
    width: 90px;
}

#FileInput{
    float: left;
}